discord.py==2.3.2
Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Flask-Caching==2.0.2
Flask-Paginate==2022.1.8
requests==2.31.0
PyGithub==1.59.1
google-auth-oauthlib==1.0.0
google-api-python-client==2.95.0
python-dotenv==1.0.0
matplotlib==3.7.1
Flask-WTF==1.1.1
Flask-Login==0.6.2
plotly==5.14.1
pandas==2.0.2
Flask-Bootstrap==3.3.7.1
Werkzeug==2.3.6
SQLAlchemy==1.4.32
asyncpg==0.23.0
